# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db

# FastAPI/Starlette
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Data files
data.json

# Pipenv
Pipfile.lock

# Test/coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Others
*.bak
*.swp
*.swo
